//
//  project.xcconfig
//  ntfy
//
//  Created by dacodedbeat on 1/10/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEVELOPMENT_TEAM = ##TEAM_ID##

PRODUCT_BUNDLE_IDENTIFIER_CONFIG = DEFAULT
APP_GROUP_ID_CONFIG = DEFAULT

#include? "projectoverride.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER_DEFAULT = com.$(DEVELOPMENT_TEAM).ntfy
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_$(PRODUCT_BUNDLE_IDENTIFIER_CONFIG))

APP_GROUP_ID_DEFAULT = group.$(PRODUCT_BUNDLE_IDENTIFIER)
APP_GROUP_ID = $(APP_GROUP_ID_$(APP_GROUP_ID_CONFIG))
